[nz-form] {
    max-width: 500px;
  }

  .parent{
    width:100px;
    height: 91vh;
   
  }
  .child{
    padding: 50px;
    position: absolute;
    width: 380px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 15px -7px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom: 22px;
  }

  nz-form-control{
    min-width: 280px;
  }
  .imgDiv{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 40px;
  }

  .login-form-margin{
    margin-bottom: 16px;
  }

  .login-form-forgot{
    float: right;
  }
  .login-form-button{
    width:100%;
  }