<div class="parent">
    <div class="child">
      <div nz-row class="imgDiv">
        <div nz-col nzSpan="24">
          <h1 style="margin-left: 50px">Add Category</h1>
        </div>
      </div>
  
      <form nz-form [formGroup]="categoryForm" class="login-form"  >
         <div nz-row>

            <div nz-col [nzMd]="24" [nzSm]="24" [nzXs]="24">
                <div class="profile-badge">
                    <label>
                        <img class="profile" alt="profile"/>
                    </label>
                    <input type="file" nz-button nz-Type="primary" id="upload_profile_image"
                          accept="image/x-png,image/gif,image/jpeg">
                     <button nz-button nzShape="circle">
                     </button>     
                </div>
            </div>

            <div nz-col nzSpan="24" style="margin-top: 20px;">
                <nz-form-item>
                    <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input is Required!">
                     <input nz-input formControlName="name" placeholder="Name"/>
                    </nz-form-control>
                </nz-form-item>
            </div>
           
          

           <div nz-col nzSpan="24" >
               <nz-form-item>
                 <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input is Required!">
                   <textarea rows="1" nz-input placeholder="Description"></textarea>
                 </nz-form-control>
               </nz-form-item>
            </div>

         </div>
      
         <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="postCategory()" >Add</button> 
       
      </form>
    </div>
  </div>
